openapi: 3.0.0
info:
  title: PolicyEngine Household API
  description: The PolicyEngine Household API calculates policy outcomes for household JSON payloads without storing household data.
  version: "1.0.0"
  contact:
    name: PolicyEngine Support
    email: hello@policyengine.org
    url: https://policyengine.org
servers:
  - url: https://household.api.policyengine.org
    description: Hosted household API
  - url: http://localhost:8080
    description: Local Docker household API
paths:
  /:
    get:
      summary: Get service metadata for the PolicyEngine household API
      operationId: get_home
      description: Returns service metadata, documentation links, and self-hosting hints.
      responses:
        200:
          description: Service metadata.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                  result:
                    type: object
                    properties:
                      docs_url:
                        type: string
                      container_image:
                        type: string
                      hosted_calculate_url:
                        type: string
                      local_calculate_url:
                        type: string
                      health_checks:
                        type: object
                        properties:
                          liveness:
                            type: string
                          readiness:
                            type: string
  /{country_id}/metadata:
    get:
      summary: Get metadata for a country
      operationId: get_metadata
      description: Get metadata for a country, including variables, parameters, entities, and other relevant information.
      parameters:
        - name: country_id
          in: path
          description: The country ID.
          required: true
          schema:
            type: string
      responses:
        200:
          description: Metadata for the country.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                    nullable: true
                  result:
                    type: object
                  policyengine_bundle:
                    type: object
                    properties:
                      model_version:
                        type: string
                      data_version:
                        type: string
                        nullable: true
                      dataset:
                        type: string
                        nullable: true
                    properties:
                      variables:
                        type: object
                      parameters:
                        type: object
                      entities:
                        type: object
                      variableModules:
                        type: object
                      economy_options:
                        type: object
                      current_law_id:
                        type: integer
                      basicInputs:
                        type: array
                      modelled_policies:
                        type: object
                      version:
                        type: string
        404:
          description: Invalid country ID.
          content:
            text/html:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
  /{country_id}/policy:
    post:
      summary: Set policy data for a given country and policy ID
      operationId: set_policy
      description: Set policy data for a given country and policy ID.
      parameters:
        - name: country_id
          in: path
          description: The country ID.
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                label:
                  type: string
                data:
                  type: object
      responses:
        201:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                    nullable: true
                  result:
                    type: object
                    properties:
                      policy_id:
                        type: integer
        404:
          description: Invalid country ID.
          content:
            text/html:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
  /{country_id}/policy/{policy_id}:
    get:
      summary: Get policy data for a given country and policy ID
      operationId: get_policy
      description: Get policy data for a given country and policy ID.
      parameters:
        - name: country_id
          in: path
          description: The country ID.
          required: true
          schema:
            type: string
        - name: policy_id
          in: path
          description: The policy ID.
          required: true
          schema:
            type: integer
      responses:
        200:
          description: The policy record.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                    nullable: true
                  result:
                    type: object
                    properties:
                      id:
                        type: integer
                      country_id:
                        type: string
                      policy_json:
                        type: object
                      policy_hash:
                        type: string
                      label:
                        type: string
                      api_version:
                        type: string
        404:
          description: Policy not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
        404:
          description: Invalid country ID.
          content:
            text/html:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
  /{country_id}/policies:
    get:
      summary: Search for policies
      operationId: get_policy_search
      description: Search for policies based on the country ID and search query.
      parameters:
        - name: country_id
          in: path
          description: The country ID.
          required: true
          schema:
            type: string
        - name: query
          in: query
          description: The search query.
          required: false
          schema:
            type: string
      responses:
        200:
          description: The search results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                    nullable: true
                  result:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                        label:
                          type: string
        404:
          description: Invalid country ID.
          content:
            text/html:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
  /{country_id}/household:
    post:
      summary: Set a household's input data
      operationId: post_household
      description: Set a household's input data for a given country ID.
      parameters:
        - name: country_id
          in: path
          description: The country ID.
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                label:
                  type: string
                data:
                  type: object
      responses:
        201:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                    nullable: true
                  result:
                    type: object
                    properties:
                      household_id:
                        type: integer
        404:
          description: Invalid country ID.
          content:
            text/html:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
  /{country_id}/household/{household_id}:
    get:
      summary: Get a household's input data with a given ID
      operationId: get_household
      description: Get a household's input data with a given country ID and household ID.
      parameters:
        - name: country_id
          in: path
          description: The country ID.
          required: true
          schema:
            type: string
        - name: household_id
          in: path
          description: The household ID.
          required: true
          schema:
            type: string
      responses:
        200:
          description: The household data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                    nullable: true
                  result:
                    type: object
                    properties:
                      id:
                        type: integer
                      country_id:
                        type: string
                      household_json:
                        type: object
                      household_hash:
                        type: string
                      label:
                        type: string
                        nullable: true
                      api_version:
                        type: string
        404:
          description: Household not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
        404:
          description: Invalid country ID.
          content:
            text/html:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
    put:
      summary: Update an existing household
      operationId: update_household
      description: Update an exising household located at the passed ID
      parameters:
        - name: country_id
          in: path
          description: The country ID.
          required: true
          schema:
            type: string
        - name: household_id
          in: path
          description: The household ID.
          required: true
          schema:
            type: string
      responses:
        200:
          description: Household updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                  result:
                    type: object
                    properties:
                      household_id:
                        type: integer
        404:
          description: Household not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
        404:
          description: Invalid country ID.
          content:
            text/html:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
  /{country_id}/household/{household_id}/policy/{policy_id}:
    get:
      summary: Get a household's output data under a given policy
      operationId: get_household_under_policy
      description: Get a household's output data under a given policy with specified country ID, household ID, and policy ID.
      parameters:
        - name: country_id
          in: path
          description: The country ID.
          required: true
          schema:
            type: string
        - name: household_id
          in: path
          description: The household ID.
          required: true
          schema:
            type: string
        - name: policy_id
          in: path
          description: The policy ID.
          required: true
          schema:
            type: string
      responses:
        200:
          description: The household data under a given policy.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                    nullable: true
                  result:
                    type: object
        404:
          description: Household or policy not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
        500:
          description: Error calculating household under policy.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
        404:
          description: Invalid country ID.
          content:
            text/html:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
  /{country_id}/calculate:
    post:
      summary: Calculate household and policy without storing data
      operationId: get_calculate
      description: Lightweight endpoint for passing in household JSON objects and calculating without storing data. Specify the country ID.
      security:
        - bearerAuth: []
      parameters:
        - name: country_id
          in: path
          description: The country ID.
          required: true
          schema:
            type: string
            enum:
              - us
              - uk
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CalculateRequest"
            examples:
              us_single_adult:
                summary: US single adult
                value:
                  household:
                    people:
                      you:
                        age:
                          "2025": 30
                        employment_income:
                          "2025": 50000
                    households:
                      your household:
                        members:
                          - you
                        state_name:
                          "2025": CA
                    families:
                      your family:
                        members:
                          - you
                    tax_units:
                      your tax unit:
                        members:
                          - you
                    marital_units:
                      your marital unit:
                        members:
                          - you
                    spm_units:
                      your spm unit:
                        members:
                          - you
              uk_single_adult:
                summary: UK single adult
                value:
                  household:
                    people:
                      person:
                        age:
                          "2025": 30
                        employment_income:
                          "2025": 30000
                    benunits:
                      benunit:
                        members:
                          - person
                    households:
                      household:
                        members:
                          - person
      responses:
        200:
          description: The calculation result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CalculateSuccessResponse"
              examples:
                success:
                  summary: Successful calculation
                  value:
                    status: ok
                    message: null
                    result:
                      people:
                        you:
                          age:
                            "2025": 30
                          employment_income:
                            "2025": 50000
                      households:
                        your household:
                          household_net_income:
                            "2025": 46375.0
                    policyengine_bundle:
                      model_version: 1.687.0
                      data_version: null
                      dataset: null
        400:
          description: Invalid request payload or unsupported household variable.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
              examples:
                unknown_variable:
                  summary: Variable not available
                  value:
                    status: error
                    message: Invalid household variables.
                    errors:
                      - Variable `not_a_variable` on `people/you` is not available in PolicyEngine model version 1.687.0 used by this API. Remove it or migrate to a supported variable.
                invalid_payload:
                  summary: Invalid household payload
                  value:
                    status: error
                    message: "'household' must be a JSON object"
        401:
          description: Missing or invalid bearer token.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthErrorResponse"
        403:
          description: The bearer token is valid but not authorized for this API.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthErrorResponse"
        500:
          description: Error calculating household under policy.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiErrorResponse"
        404:
          description: Invalid country ID.
          content:
            text/html:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
  /{country_id}/economy/{policy_id}/over/{baseline_policy_id}:
    get:
      summary: Calculate the economic impact of a policy
      operationId: get_economic_impact
      description: Calculate the economic impact of a policy compared to a baseline policy. Specify the country ID, policy ID, and baseline policy ID.
      parameters:
        - name: country_id
          in: path
          description: The country ID.
          required: true
          schema:
            type: string
        - name: policy_id
          in: path
          description: The policy ID.
          required: true
          schema:
            type: string
        - name: baseline_policy_id
          in: path
          description: The baseline policy ID.
          required: true
          schema:
            type: string
        - name: region
          in: query
          description: The sub-national region.
          required: false
          schema:
            type: string
        - name: time_period
          in: query
          description: Reform time period
          required: false
          schema:
            type: string
        - name: version
          in: query
          description: API version number
          required: false
          schema:
            type: string
      responses:
        200:
          description: Calculating economic impact.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                    nullable: true
                  result:
                    type: object
                    nullable: true
        200:
          description: Calculation queue position.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                    nullable: true
                  result:
                    type: object
                    nullable: true
                  average_time:
                    type: float
        200:
          description: The economic impact.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                    nullable: true
                  result:
                    type: object
        404:
          description: Invalid country ID.
          content:
            text/html:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
  /{country_id}/analysis:
    post:
      summary: Get or trigger policy analysis
      operationId: get_analysis
      description: Trigger policy analysis for a given prompt or retrieve analysis for a given prompt ID. Specify the country ID.
      parameters:
        - name: country_id
          in: path
          description: The country ID.
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
      responses:
        200:
          description: Analysis or analysis status.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                    nullable: true
                  result:
                    type: object
                    properties:
                      prompt_id:
                        type: integer
                      analysis:
                        type: string
  /{country_id}/analysis/{prompt_id}:
    get:
      summary: Get policy analysis for particular prompt ID
      operationId: get_analysis
      description: Retrieve analysis for a particular prompt ID, specified in query parameters.
      parameters:
        - name: country_id
          in: path
          description: The country ID.
          required: true
          schema:
            type: string
        - name: prompt_id
          in: path
          description: The prompt ID.
          required: true
      responses:
        200:
          description: Analysis with provided prompt ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  result:
                    type: object
                    properties:
                      prompt_id:
                        type: integer
                      analysis:
                        type: string 
        405:
          description: Method not allowed; no prompt_id provided
          content:
            text/html:
              schema:
                type: string
  /{country_id}/search:
    get:
      summary: Search for parameters or variables
      operationId: get_search
      description: Search for parameters or variables in a specified country by providing a query string.
      parameters:
        - name: country_id
          in: path
          description: The country ID.
          required: true
          schema:
            type: string
        - name: type
          in: query
          description: The type of search, must be either "parameter" or "variable".
          required: false
          schema:
            type: string
            default: "parameter"
        - name: query
          in: query
          description: The query string to search for.
          required: true
          schema:
            type: string
        - name: k
          in: query
          description: The number of results to return.
          required: false
          schema:
            type: integer
            default: 10
      responses:
        200:
          description: Search results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  result:
                    type: array
                    items:
                      type: string
        404:
          description: Invalid country ID.
          content:
            text/html:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
  /liveness_check:
    get:
      summary: Test for server liveness.
      operationId: liveness_check
      description: Determine whether or not the PolicyEngine server is live.
      responses:
        200:
          description: Server is live.
          content:
            text/plain:
              schema:
                type: string
  /readiness_check:
    get:
      summary: Test for server readiness.
      operationId: readiness_check
      description: Determine whether or not the PolicyEngine server is ready.
      responses:
        200:
          description: Server is ready.
          content:
            text/plain:
              schema:
                type: string
  /specification:
    get:
      summary: Get OpenAPI specs.
      operationId: get_specification
      description: Get OpenAPI-formatted specs of PolicyEngine API
      responses:
        200:
          description: OpenAPI specs.
          content:
            application/json:
              schema:
                type: object
                properties:
                  info:
                    type: object
                  openapi:
                    type: string
                  paths:
                    type: object
                  servers:
                    type: array
                  components:
                    type: object
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Hosted API requests require an Auth0 bearer token. Local Docker requests usually run without authentication.
  schemas:
    CalculateRequest:
      type: object
      required:
        - household
      properties:
        household:
          $ref: "#/components/schemas/Household"
        policy:
          type: object
          description: Optional policy reform object passed through to the country model.
          additionalProperties: true
        enable_ai_explainer:
          type: boolean
          default: false
          description: When true, the response includes a computation tree UUID that can be passed to the AI analysis endpoint.
      additionalProperties: false
    Household:
      type: object
      description: A household is a map of entity groups. Each entity group maps entity IDs to variables. Each variable maps periods to values.
      required:
        - people
      properties:
        people:
          $ref: "#/components/schemas/EntityGroup"
        households:
          $ref: "#/components/schemas/EntityGroup"
        families:
          $ref: "#/components/schemas/EntityGroup"
        tax_units:
          $ref: "#/components/schemas/EntityGroup"
        marital_units:
          $ref: "#/components/schemas/EntityGroup"
        spm_units:
          $ref: "#/components/schemas/EntityGroup"
        benunits:
          $ref: "#/components/schemas/EntityGroup"
        axes:
          type: array
          description: Optional scan axes. Each axis can vary one variable over a bounded range.
          items:
            $ref: "#/components/schemas/AxisEntry"
      additionalProperties:
        $ref: "#/components/schemas/EntityGroup"
    EntityGroup:
      type: object
      description: Map of entity IDs to entity payloads.
      additionalProperties:
        $ref: "#/components/schemas/Entity"
      example:
        you:
          age:
            "2025": 30
          employment_income:
            "2025": 50000
    Entity:
      type: object
      description: Variables for one entity. The members property links group entities back to people.
      properties:
        members:
          type: array
          items:
            type: string
      additionalProperties:
        $ref: "#/components/schemas/PeriodValueMap"
    PeriodValueMap:
      type: object
      description: Map from a year, month, or other model period to a value.
      additionalProperties:
        $ref: "#/components/schemas/HouseholdValue"
      example:
        "2025": 50000
    HouseholdValue:
      description: A model input or output value for one period.
      nullable: true
      oneOf:
        - type: number
        - type: string
        - type: boolean
        - type: array
          items: {}
        - type: object
          additionalProperties: true
    AxisEntry:
      description: A single axis specification or a crossed list of axis specifications.
      oneOf:
        - $ref: "#/components/schemas/Axis"
        - type: array
          items:
            $ref: "#/components/schemas/Axis"
    Axis:
      type: object
      required:
        - name
        - min
        - max
        - count
      properties:
        name:
          type: string
          description: Variable name to scan.
          example: employment_income
        period:
          type: string
          description: Period to scan.
          example: "2025"
        min:
          type: number
          example: 0
        max:
          type: number
          example: 100000
        count:
          type: integer
          minimum: 1
          maximum: 100
          example: 11
    CalculateSuccessResponse:
      type: object
      required:
        - status
        - message
        - result
        - policyengine_bundle
      properties:
        status:
          type: string
          enum:
            - ok
        message:
          type: string
          nullable: true
        result:
          $ref: "#/components/schemas/CalculationResult"
        policyengine_bundle:
          $ref: "#/components/schemas/PolicyEngineBundle"
        warnings:
          type: array
          description: Non-fatal request warnings, such as deprecated variable inputs or surprising period shapes.
          items:
            type: string
        computation_tree_uuid:
          type: string
          format: uuid
          description: Returned only when enable_ai_explainer is true.
    CalculationResult:
      type: object
      description: Calculated household data, keyed by entity group, entity ID, variable name, and period.
      additionalProperties:
        $ref: "#/components/schemas/EntityGroup"
    PolicyEngineBundle:
      type: object
      required:
        - model_version
      properties:
        model_version:
          type: string
          description: Version of the country model used for the calculation.
        data_version:
          type: string
          nullable: true
          description: Version of the input data used by the country model, when available.
        dataset:
          type: string
          nullable: true
          description: Dataset used by the country model, when available.
      additionalProperties: true
    ApiErrorResponse:
      type: object
      required:
        - status
        - message
      properties:
        status:
          type: string
          enum:
            - error
        message:
          type: string
        errors:
          type: array
          description: Field-level or variable-level validation messages.
          items:
            type: string
    AuthErrorResponse:
      type: object
      properties:
        error:
          type: string
        error_description:
          type: string
